.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  /*height: 100vh;*/
}

html {
  font-size: 12px;
  background-color: #1e1e1e;
}


.center {
  align-items: center;
  justify-content: center;
}

.overflow {
  display: block;
  overflow-x: auto;
  white-space: nowrap;

}

.videoFrame {
  position: absolute;
  float: left;
  left: 10px;
  top: 10px;
}

